<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- jQuery -->
	 <script src="http://localhost:8088/springmvc/resources/js/jquery/jquery.min.js"></script>
	 <script src="http://localhost:8088/springmvc/resources/js/angular/angular.min.js"></script>
	 <script src="http://localhost:8088/springmvc/resources/js/our/test/angular.js"></script>


</head>
<body ng-app="testApp">
 <div ng-controller="helloController"><hello></hello> </div>
</body>
 <script>
 
 </script>
</html>