<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- jQuery -->
	 <script src="/springmvc/resources/js/jquery/jquery.min.js"></script>
	<script src="/springmvc/resources/js/angular/angular.min.js"></script>
</head>
<body app="testApp">
<div><a onclick="getKid();">click</a></div>
<div id="body"></div>
<div style="width:1000px; height:1000px; overflow:auto; border:1px solid #000000;" >
输入原金额
<input id="pa" type="text" value=""/>
输入调整金额
<input id="pb" type="text" value=""/>
<a onclick="add()">加法</a>
结果
</div>
<div ng-controller="Hello"><a ng-click="getUser();">f1</a>
<div >
      <h2>Spring MVC + AngularJS Demo</h2>
      <p>EMail Id : {{user.emailId}}</p>
      <p>User Name : {{user.userName}}</p>
    </div></div>
</body>
<script>
 var app = angular.module("testApp", []);
app.controller("Hello", function($scope, $http, $rootScope, $location,testService) {
	$scope.user = testService.getUser("{}",function(data){
		console.log(data);
	});
	$scope.getUser();
});
app.factory('testService', function($location, $http) {
	var path = $location.protocol() + "://" + $location.host() + ":"
			+ $location.port() + "/";
	var service = {};
	service.getUser=function(json,callback){
		loginPath = path + "angular";
		$http.post(loginPath, JSON.stringify(json)).success(function(data) {
			console.log(data); // 成功的回调函数 // 存储数据
			service = data;
			callback(data);
		});
	}
	
	return service;
});	 
 function getKid(){
	alert(1);
	$.ajax({
		url: "http://localhost:8088/springmvc/ajax",
		json:"{}",
		type:"post",
		success: function(data){
			console.log(data);
      	    $("#body").html(data);
      }
		
	
	});
} 
var a="+30";
var b="-30.2";

function add(){
var eb=document.getElementById("pb");
b=$.trim((eb.value==null?0:eb.value))*1;
var ea=document.getElementById("pa");
a=$.trim((ea.value==null?0:ea.value))*1;
if(!/^(([-|+]?[1-9]{1}\d*(\.\d{1,2})?)|[-|+]?((0\.\d[1-9])|(0\.[1-9]\d?)))$/.test(b)){
            $.alert("提示", "请输入有效的调整费用(小数点后最多两位,如:-18.88(该项目减少18.88元),+18.88或者18.88(该项目增加18.88元))");
            return;
        }
if((b+a)<0)
{alert("调整后金额不能小于0！");
 return;
}

alert(a+"+"+b+"="+(a+b));
a=a*100;
alert(a);
}
function f1(){
try{
var a=c.a.b!=undefined||c.a.b!=null?c.a.b:0;
alert(a);}catch(e){alert(e);}
}

</script>

</html>