<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">

<title>学习网</title>
</head>
<link href="/springmvc/resources/js/bootstrap/css/bootstrap.css" rel="stylesheet" />

<body ng-app="loginApp">
	<div ng-controller="loginCtl">
		<login></login> 
		
	</div>
	<!-- jQuery -->
	<script src="/springmvc/resources/js/jquery/jquery.min.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/springmvc/resources/js/bootstrap/js/bootstrap.js"></script>
	<!-- Angular -->
	<script src="/springmvc/resources/js/angular/angular.min.js"></script>
	<script src="/springmvc/resources/ourjs/login/login.js"></script>
</body>
</html>